img {
    width: 141px;
    height: 160px;

}

.container {

    margin: auto;
    background-color: #f7f7f7;
    padding: 0px 46px;
  

}

.subcontainer{

   margin-left:40%;
    display: inline;
    width: 30%;
    display: none;
    /* float: left; */
    /* border: darkslateblue;
    border-style: groove; */
}
header{
    padding: 25px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

h1{
font-weight: bolder;
    font-size: x-large;
color: cornsilk;
align-content: center;
display: inline;

}

.pic {
    float: left;
    width: 23.33%;
    padding: 10px;
    height: 300px;
  }

  .pic-container{
 content: "";
  display: table;
  clear: both;

  }

select {
    display: inline;
    /* width: 40%; */
    /* margin-left: 40%; */
    background-color: #c7f5ec;
    border-radius: 10px;
    width: 264px;
    height: 36px;
    margin-top: 25px;

}
h2 {font-weight: bold;
    margin: 14px 18px;
}

p{
    font-weight: 700;
    width: 207px;
    margin: 18px 1px;
}